<configuration>
    <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- This ensures MDC variables (like traceId and notificationId) become top-level JSON keys -->
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>notificationId</includeMdcKeyName>
            <includeMdcKeyName>status</includeMdcKeyName>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="jsonConsoleAppender" />
    </root>
</configuration>